<html>
	<head>
		<link rel="stylesheet" type=text/css href="static/style.css">
	</head>
{% block content %}
	<h1>xkcd Password Generator</h1>
	<form action="" method="get">
		<p>{{ form.lowerRange }} Minimum Characters</p>
		<p>{{ form.upperRange }} Maximum Characters</p>

		<p>{{ form.passLength }} Password Maximum Length</p>

		<p>{{ form.alternating }} Optimize Typing Speed {{ form.double }} Include Double Letters in Optimization</p>

		<p>{{ form.zero }} O = 0 {{ form.one }} L = 1 {{ form.two }} Z = 2</p>
		
		<p>{{ form.three }} E = 3 {{ form.four }} A = 4 {{ form.five }} S = 5</p>

		<p>{{ form.six }} G = 6 {{ form.seven }} T = 7 {{ form.eight }} B = 8</p>

		<p>{{ form.myNumber }} I need a number but I hate 1337</p>

		<p>{{ form.capitalOne }} Capitalize First Word {{ form.capitalTwo }}Capitalize Second Word{{ form.capitalThree }}Capitalize Third Word{{ form.capitalFour }}Capitalize Fourth Word</p>


		<p><input type="submit" value="Generate"></p>
	</form>
{% endblock %}

